# dependencies
node_modules
.pnp
.pnp.js

# build output
dist
dist-ssr
*.local

# env
.env
.env.local
.env.*.local

# editor
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs/

# OS
.DS_Store

# Vercel
.vercel
*.tsbuildinfo
